{% extends "aliens_app/main.html" %}
{% block content %}
<form action="{% url 'sightings' current %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <!-- Create a new rental <br> 

    <label for="startDate">Start Date</label>
    <input type="date" name="startDate"> -->

    <input type="submit" value="Submit">
</form>
{% if all_sightings %}
<!-- <ul> -->
    {% for sighting in all_sightings %}
    <div class="itemcontainer" style="background-color: #2c2c2c;">
        <a href="{% url 'view_sighting' sighting.sightingid %}">{{ sighting.comments }}</a>
        {%if sighting.average%}
            <p style="color: whitesmoke">{{sighting.average}}</p>
        {%else%}
            <p style="color: whitesmoke">No Ratings</p>
        {%endif%}
    </div>
    {% endfor %}
<!-- </ul> -->
<a href="{% url 'sightings' next %}" class="button">Next Page</a>
{% else %}
    <p>No sightings present</p>
{% endif %}
{% endblock %}