{% extends "aliens_app/main.html" %}
{% block content %}
<form action="{% url 'view_sighting' sighting.sightingid %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <!-- Create a new rental <br> 

    <label for="startDate">Start Date</label>
    <input type="date" name="startDate"> -->

    <input type="submit" value="Submit">
</form>
{% if sighting %}
    <h1> {{ sighting.comments }}</h1>
        <p>Posted on {{ sighting.dateposted }}</p>
        <ul>
            <li>Occured on {{sighting.date}} for {{sighting.duration}} seconds</li>
            <li>Location: {{sighting.city}}, {{sighting.state}}, {{sighting.country}}. Latitude: {{sighting.latitude}}/Longitude: {{sighting.longitude}}</li>
            <li>{{sighting.shape}}</li>
        </ul>
{% else %}
    <p>Invalid Sighting.</p>
{% endif %}
<br>
{% if aliens %}
<h2>Aliens</h2>
{% for alien in aliens %}
    <div class="itemcontainer">
    <!-- <span class="name">{{ comment }}</span> -->
    <p> {{alien.name}} </p>
    </div>
{% endfor %}
{% endif %}
{% if notes %}
<h2>Government Notes</h2>
{% for note in notes %}
    <div class="itemcontainer">
    <!-- <span class="name">{{ comment }}</span> -->
    <p> {{note.text}} </p>
    <span class="time-left">Posted on {{note.date}}</span>
    <span class="time-right"> {{note.name}}, {{note.position}} of {{note.country}} </span>
    </div>
{% endfor %}
{% endif %}
<h2>Comments</h2>
{% if comments %}
{% for comment in comments %}
    <div class="itemcontainer">
    <!-- <span class="name">{{ comment }}</span> -->
    <p> {{comment.text}} </p>
    <span class="time-left">Posted on {{comment.date}}</span>
    <span class="time-right"> {{comment.believability}} </span>
    </div>
{% endfor %}
{% else %}
    <p>No comments</p>
{% endif %}
{% endblock %}